html{
    height: 100%;
    scroll-behavior: smooth;
}
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    color: white;
}
.h1{
    font-size: 80px;
}
.app video{
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
.btnwrapper{
    display: flex;
    gap: 50px;
}
.homebtn{
    cursor: pointer;
    width: 190px;
    height: 60px;
    margin-top: 25px;
    font-size: 25px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    padding-bottom: 3px;
    transition: all .5s;
}
.homebtn:hover{
    background-color: white;
    color: black;
}
.mainwrapper{
    display: flex;
    justify-content: center;
    margin: 0px auto;
    width: 100%;
}
@media (max-width:1471px){
    .h1{
        font-size: 50px;
    }
    .homebtn{
        width: 130px;
        height: 50px;
    }
    .btnwrapper{
        gap: 10px;
    }   
}
@media (max-width:770px){
    .h1{
        font-size: 50px;
    }  
}
@media (max-width:400px){
    .h1{
        font-size:50px;
    }  
}


