.aboutsection{
    display: flex;
    justify-content: center;
    margin: 0px auto;
    min-height: 100vh;
    align-items: center;
    gap: 15%;
    padding: 20px 0px;
}
.aboutme{
    font-size: 50px;
    margin-bottom: 20px;
}
.icons{
    width: 70px;
    height: 70px;
}
.skillsdiv{
    display: flex;
    gap: 20px;
    flex-direction: column;
}
.skillh1{
    font-size: 50px;
}
.icondiv{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.allicons{
    display: flex;
    gap: 30px;
    flex-direction: column;
}
.skillsh1div{
    display: flex;
    justify-content: center;
}
.iconsside1,.iconsside2{
    display: flex;
    gap: 50px;  
}
.aboutdiv{
    width: 400px;
}
.aboutp{
    font-size: 20px;
}
@media (max-width:1000px){
    .aboutsection{
        flex-direction: column;
        gap: 50px;
    }
    .aboutmediv{
        display: flex;
        justify-content: center;
        
    }
}
@media (max-width:450px){
    .icons{
        width: 15vw;
        height: 15vw;
    }
    .iconsside1,.iconsside2{
        gap: 10vw;  
    }
    
    .aboutdiv{  
        width: 90%;
    }
    .allicons{
        width: 90%;
    
    }
}
@media (max-width:357px){
    .icons{
        width: 40px;
        height: 40px;
    }
}