.consection{
    display: flex;
    justify-content: center;
    margin: 0px auto;
    align-items: center;
    width: 95%;
    height: 100vh;
    gap: 300px;
}
.conme{
    font-size: 50px;
}
.form{
    display: flex;
    flex-direction: column;
    gap: 25px;
    background-color: black;
    padding: 50px;
    border-radius: 20px;
    z-index: 5;
}
.input{
    padding: 10px;
    width: 350px;
}
.message{
    height: 120px;
    padding-bottom:80px ;
}
.submit{
    background-color: rgba(255, 230, 0, 0.89);
    border: 1px solid white;
    cursor: pointer;
    height: 50px;
    width: 150px;
    font-size: 25px;
    transition: all .5s;
}
.submit:hover{
    background-color: white;
}
.enter{
    font-size: 40px;
    color: white;
}
.condiv{
    display: flex;
    flex-direction: column;
    gap: 80px;
}
ion-icon{
    height: 50px;
    width: 50px;
}
.details{
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 20px;
}
.box{
    position: relative;
    width: 460px;
    height: 515px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.5);
    overflow: hidden;
    border-radius: 20px;
    z-index: 2px;
}
.box::before{
    content: '';
    position: absolute;
    width: 150px;
    height: 170%;
    background: rgba(255, 230, 0, 0.89);
    animation: animate 4s linear infinite;
    
}
.box::after{
    content: '';
    position: absolute;
    inset: 4px;
    
}
@keyframes animate
{
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}