.prosection{
    display: flex;
    justify-content: center;
    margin: 0px auto;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    gap: 50px;
    padding: 20px 0px;
}
.mypro{
    font-size: 50px;
    margin-bottom: 50px;
}
.webcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
    width: 100%;
}
.prodiv{
    display: flex;
    justify-content: center;
    align-items: center;
}
.webwrapper1,.webwrapper2{
    display: flex;
    gap: 150px;
}
@media (max-width:1700px){
    .webcontainer{
        flex-direction: column;
        gap: 50px;
    }

}
@media (max-width:777px){
    .webwrapper1,.webwrapper2{
        flex-direction: column;
        gap: 50px;
    }
    .mypro{
        margin-bottom: 0px;
    }
}
